<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For the Calendar events features -->
    <!--
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    -->

    <!-- For reminders -->
    <!-- to start the alarms after restart.
    (By default, all alarms are canceled when a device shuts down) -->
    <!--
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    -->
    <!-- For backup    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
         android:maxSdkVersion="28"/>

    <application
        android:name="com.guanyc.stock.discipline.app.MyBrainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/win_first"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/win_first_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBrain"
        tools:targetApi="33">


        <!-- Prompt Google Play services to install the backported photo picker module -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false" android:exported="false" tools:ignore="MissingClass" >
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <activity
            android:name="com.guanyc.stock.discipline.presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyBrain"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>